[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-speech = "*"
google-cloud-storage = "*"
moviepy = "*"
pandas = "*"
opencv-python = "*"
flask = "*"
mediapipe = "*"
numpy = "*"
flask-cors = "*"
ffpyplayer = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.10"
